/* Google font: Lexend */

/* colors: 
palette: https://coolors.co/7584a0-e9665e-a7b7a9-f5dcb4
blue: #4B576C
red: #E9665E
green: #A7B7A9
tan: #F5DCB4 */

#root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

main {
  flex: 1;
}

body {
  background-color: #F5DCB4;
  margin: 0;
  padding: 0;
  font-family: "Lexend", sans-serif;
  /* color: #7584A0; */
  color: #4B576C
}

h1 {
  color: #4B576C
}

img {
  border-radius: 25px;
  border: 8px solid #4B576C;
}

ul {
  margin-left: 10vw;
  margin-right: 10vw;
}

a {
  color: #4B576C;
  text-decoration: none;
  transition: color 0.3s ease;
  font-weight: bold; /* length of time to change color */
}

a:hover { /* effects on hover */
  color: #E9665E;
  text-shadow: 1px 1px 1px #4B576C;
}

.profile-pic {
  max-width: 200px;
  height: auto;
}

.landscape-pic {
  max-width: 700px;
  height: auto;
}

.header-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #A7B7A9;
}

.footer-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #A7B7A9;
  color: #4B576C;
  flex-shrink: 0;
}

.centered {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.centered-row {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 15px;
  margin-bottom: 5px;
}

.github-logo, .globe-logo, .linkedin-logo, email-logo {
  transition: filter 0.3s ease; /* smooth transition to color */
}

.globe-logo:hover, .github-logo:hover, .linkedin-logo:hover, .email-logo:hover {
  filter: drop-shadow(2px 4px 6px rgba(233, 102, 94, 1)); /* shadow effect */
}

.github-logo {
  height: 50px;
  width: auto;
  border: none;
  padding: 5px;
  margin-top: -10px;
}

.globe-logo {
  height: 40px;
  width: auto;
  border: none;
  box-sizing: content-box;
}

.linkedin-logo {
  border: none;
  height: 50px;
  width: auto;
  border-radius: 0px;
}

.email-logo {
  border: none;
  border-radius: 0px;
  height: 50px;
  width: auto;
}

.resume {
  font-size: 20px;
  color: #E9665E;
}

.resume:hover {
  text-shadow: 1px 1px 1px #4B576C;
  color: #A7B7A9;
}
