/* Google font: Lexend */

/* colors: 
palette: https://coolors.co/7584a0-e9665e-a7b7a9-f5dcb4
blue: #4B576C
red: #E9665E
green: #A7B7A9
tan: #F5DCB4 */

#root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

body {
  background-color: #F5DCB4;
  margin: 0;
  padding: 0;
  font-family: "Lexend", sans-serif;
  /* color: #7584A0; */
  color: #4B576C
}

h1 {
  color: #4B576C
}

a {
  color: #4B576C;
  text-decoration: none;
  transition: color 0.3s ease; /* length of time to change color */
}

a:hover { /* effects on hover */
  color: #E9665E;
  text-shadow: 1px 1px 1px #4B576C;
}

.profile-pic {
  max-width: 200px;
  height: auto;
}

.landscape-pic {
  max-width: 800px;
  height: auto
}

.header-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #A7B7A9;
}

.footer-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #A7B7A9;
  color: #4B576C;
}


